@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

/* input.css */
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-primary: "Nunito";
  --color-primary: #AD0000;
  --color-dark: #9F0000;
  --color-light: #FFA6A6;
  --color-lighter: #FFC9C9;
  --color-normalbg: #f3f4f6;
  --color-darkbg: #1E2939;
}
